.counter{

  padding-top:30px;

  .left-mg{
    margin-left:10px !important;
  }
  .active{
    background: #05db5e;
  }
  .inactive{
    background: #9b59b6;
  }
  .counter-component {
    width: 300px;
    margin: auto;
    color: white;
    padding: 20px;
    text-align: center;

    h1 {
      margin: 0;
      padding: 20px;
      font-size: 36px;
    }

    button {
      border: 0;
      box-shadow: 0px 5px 0px darken(#f1c40f, 20%);
      padding: 20px;
      width: 120px;
      outline: none;
      border-radius: 3px;
      font-weight: bold;
    }
  }
}
